/.venv
/audiofromvideo.py
/audiofromyt.py
/cut.py
/display.py
/downyout.py
/ex1.py
/geckodriver.log
/listenerdownloader.py
/maybe_axegao.m4a
/prew.py
/res
/Ritchie Blackmore _Smoke on the Water_.mp4
/save_frame.py
/show.py
/test.py
/test1.py
/test3.py
/write_videofile.py